html {
    height: 100vh;
}

body {
    background: #232323;
    background: linear-gradient(180deg, rgba(90,33,129,1) 0%, rgba(144,15,84,1) 33%, rgba(219,64,43,1) 58%, rgba(213,147,55,1) 79%, rgba(252,193,69,1) 100%);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: left;
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto 290px 290px auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #DEDEDE;
}

.spacer {
    grid-column: 2 / 4;
    margin: 25px;
}

/* HEADER SECTION */

.page-title {
    text-align: left;
    grid-column: 2;
}

.header-nav {
    grid-column: 3;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-icon {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

/* LINK LIST */

.compact-list {
    grid-column: 2 / 4;
    background-color: #121212;
    /* border: 1px solid #FEFEFE; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px;
    row-gap: 10px;
}

.list-link {
    color: #DEDEDE;
    background-color: #121212;
    appearance: none;   
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    text-align: left;
    transition: box-shadow .25s;
    will-change: box-shadow;
    border-radius: 10px;
}

.compact-list-img {
    width: 55px;
    height: 55px;
    border-radius: 8px;
}

.compact-list-header {
    padding: 10px 0 5px 5px;
}

.compact-list-title {
    margin: 0;
    font-weight: 600;
}

.compact-list-subtitle {
    margin: 0;
    font-weight: 200;
    font-size: 12px;
    color: #808d8c;
}

.compact-list-link-title {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.compact-list-link-description {
    margin: 2px 0 0 0;
    padding: 0;
    font-weight: 200;
    font-size: 12px;
    color: #808d8c;
}

.external-link-img {
    width: 20px;
    height: 20px;
    padding-right: 20px;
    margin-left: auto;
}

.list-link:hover {
    box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.71)
}








body > div {
    grid-column: 2 / 4;
}

.notes {
    text-align: left;
}


h2 {
    font-size: 20px;
}

.links-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;
}

.logo-link {
    width: 40px;
    border-radius: 20px;
    margin: 5px;
    text-decoration: none;
    font-size: 10px;
    color: #FEFEFE;
}

.logo-link img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    transition: box-shadow .15s,transform .15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
}

.link-section {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

/* .header {
    height: 300px;
} */

.box-link, table {
    background-color: rgba(255,255,255,0.2);
    color: #FEFEFE;
    border: 1px solid #FEFEFE;
    border-radius: 5px;
    appearance: none;   
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(255, 255, 255, 0.3) 0 7px 13px -3px;
    box-sizing: border-box;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    touch-action: manipulation;
    will-change: box-shadow,transform;
    padding: 20px;
}

/* .box-link:focus .logo-link img:focus  {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #FEFEFE 0 -3px 0 inset;
} */

.box-link:hover, .logo-link img:hover {
    /* font-weight: bold; */
    box-shadow: rgba(255, 255, 255, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #FEFEFE 0 -3px 0 inset;
    transform: translateY(-2px);
}

.box-link:active, .logo-link img:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.inline-link {
    color: black;
    text-decoration: none;
    padding: 6px;
    margin-bottom: 6px;
    background-color: rgba(245, 238, 220, 0.8);
}

.inline-link:hover {
    color: rgb(61, 5, 69);
    text-decoration: underline;
}

footer {
    margin-top: 350px;
}


@media only screen and (max-width: 800px) {
    html {
        height: 100vh;
    }

    body {
        padding: .2em;
        display: grid;
        grid-template-columns: auto 95% auto;
    }

    .col2, .col3, .col4 {
        grid-column: 2;
    }
}