html {
    height: 100%;
}

body {
    background: rgb(90,33,129);
    background-repeat:no-repeat;
    background-attachment: scroll;
    background: linear-gradient(0deg, rgba(90,33,129,1) 0%, rgba(144,15,84,1) 33%, rgba(219,64,43,1) 58%, rgba(213,147,55,1) 79%, rgba(252,193,69,1) 100%);
    margin: 0;
    font-family: 'Fira Code', 'Times New Roman', Times, serif;
    font-size: 14px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto 30% 30% 30% auto;
}

h2 {
    font-size: 20px;
}

.col2 {
    grid-column: 2;
}

.col3 {
    grid-column: 3;
}

.col4 {
    grid-column: 4;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.box-link, table {
    background-color: white;
    color: #1C1C1C;
    border: 1px solid #1C1C1C;
    border-radius: 5px;
    appearance: none;   
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
    box-sizing: border-box;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    touch-action: manipulation;
    will-change: box-shadow,transform;
    padding: 10px;
    margin-bottom: 10px;
}

table {
    cursor: default;
}

td {
    border-bottom: 1px dotted #1C1C1C;
}

.box-link:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #1C1C1C 0 -3px 0 inset;
}

.box-link:hover {
    font-weight: bold;
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #1C1C1C 0 -3px 0 inset;
    transform: translateY(-2px);
}

.box-link:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.inline-link {
    color: black;
    text-decoration: none;
    padding: 6px;
    margin-bottom: 6px;
    background-color: rgba(245, 238, 220, 0.8);
}

.inline-link:hover {
    color: rgb(61, 5, 69);
    text-decoration: underline;
}


@media only screen and (max-width: 600px) {
    html {
        height: 100vh;
    }

    body {
        padding: .2em;
        font-family: 'Fira Code', 'Times New Roman', Times, serif;
        font-size: 18px;
        display: grid;
        grid-template-columns: auto 95% auto;
        background-repeat: no-repeat;
        background-attachment: fixed;

    }

    .col2, .col3, .col4 {
        grid-column: 2;
    }
}